<%- include('partials/head') %>

  <article class="cocktail-detail">
    <% cocktailDetail.drinks.forEach(cocktailDetail => { %>
      <h1><%= cocktailDetail.strDrink %></h1>
      <img src="<%= cocktailDetail.strDrinkThumb %>">
      <p>
        The
        <%= cocktailDetail.strDrink %> is a
          <%= cocktailDetail.strAlcoholic %>
            <%= cocktailDetail.strCategory %>
      </p>

      <h2>Ingredients</h2>
      <ul>
        <li>
          <%= cocktailDetail.strIngredient1 %>
        </li>
        <li>
          <%= cocktailDetail.strIngredient2 %>
        </li>
        <li>
          <%= cocktailDetail.strIngredient3 %>
        </li>
        <li>
          <%= cocktailDetail.strIngredient4 %>
        </li>
        <li>
          <%= cocktailDetail.strIngredient5 %>
        </li>
      </ul>

      <h2>Instructions</h2>
      <p>
        <%= cocktailDetail.strInstructions %>
      </p>
      <% }) %>
  </article>

  <%- include('partials/footer') %>