<%- include('partials/head') %>

  <ul class="cocktail-list">
    <% cocktailData.drinks.forEach(cocktailData => { %>
      <li>
        <a href="/cocktails/<%= cocktailData.idDrink %>">
            <img src="<%= cocktailData.strDrinkThumb %>">
            <p><%= cocktailData.strDrink %></p>
        </a>
      </li>
      <% }) %>
  </ul>

  <%- include('partials/footer') %>