<%- include('partials/head') %>

  <ul class="cocktail-list">
    <% cocktailDetail.drinks.forEach(cocktailDetail => { %>
      <li>
        <a href="<%= cocktailDetail.idDrink %>">
          <%= cocktailDetail.strDrink %>
            <img src="<%= cocktailDetail.strDrinkThumb %>">
        </a>
        <p>
          <%= cocktailDetail.strInstructions %>
        </p>
      </li>
      <% }) %>
  </ul>

  <%- include('partials/footer') %>